<!DOCTYPE html>
<html ng-app="port">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Med Revue</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/least.min.css" rel="stylesheet">
    <link href="css/half-slider.css" rel="stylesheet">

</head>

 <body ng-controller="viewController as view">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
          
            <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-inner ">
                    <div class="col-md-12">
                    <ul class="nav navbar-nav" id="left">
                   <li><a   ng-click="view.setPage(0)" href="#">Home</a></li>
                    <li><a  ng-click="view.setPage(1)" href="#">About</a></li>
                    <li><a  ng-click="view.setPage(1)" href="#">Past Shows</a></li>
                    <li><a  ng-click="view.setPage(2)" href="#">Teams</a></li>
                    <li><a  ng-click="view.setPage(3)" href="#">Photos</a></li>
                    <li><a  ng-click="view.setPage(4)" href="#">Sponsors</a></li>
                    <li><a  ng-click="view.setPage(5)" href="#">Calendar</a></li>
                    <li><a  ng-click="view.setPage(5)" href="#">Contact</a></li>
                    </ul>               
                </div>
                </div>
            </div>
        </div>
    </nav>
    


    <!-- Carousel -->
    <header ng-show="view.getPage(0)" id="myCarousel" class="carousel slide">
        
    <div id="watermark">
      <center><img width="100px" src="img/logo.png">  </center>
        <div class="title"><p class="border">MED REVUE 2015 - IN PRODUCTION</p></div>
        <center><button type="button" class="frontButton">Tickets on sale August 2015</button></center>
        <div id="test"></div>
    </div>
        <div class="carousel-inner">
            <div class="item active">    
                <div class="fill" style="background-image:url('img/1.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/2.jpg');"></div>
            </div>
            <div class="item">         
                <div class="fill" style="background-image:url('img/3.jpg');"></div>
            </div>
        </div>
                        
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
    

   
    
    <div class="box" ng-show="view.getPage(1)">
        <about></about>
            <div class="push"></div>
    </div>
   <div ng-show="view.getPage(1)">
            <footer></footer>
  </div>

    
    <div class="box" ng-show="view.getPage(2)">
        <teams></teams>
            <div class="push"></div>
    </div>
    <div ng-show="view.getPage(2)">
            <footer></footer>
        </div>

    
        <div class="box" ng-show="view.getPage(3)">
        <photos></photos>
            <div class="push"></div>
    </div>
    <div ng-show="view.getPage(3)">
            <footer></footer>
        </div>
    
    
    
        <div class="box" ng-show="view.getPage(4)">
        <sponsorship></sponsorship>
            <div class="push"></div>
    </div>
        
            </div>
    <div ng-show="view.getPage(4)">
            <footer></footer>
        </div>
    
        <div class="box" ng-show="view.getPage(5)">
        <contact></contact>
                    <div class="push"></div>
        </div>
            
        <div ng-show="view.getPage(5)">

        <footer></footer>
        </div>


    
    
   
    <script src="js/least.js"></script>
    
    <!-- Script to Activate the Carousel -->
    <script>
        
    $(document).ready(function() { 
        $('#teams').hide();
        
        $('.least-gallery').least();

        $('#cast').click (function() { 
            $('#teams').fadeToggle(600);

        });
        

      
        $('.carousel').carousel({
            interval: 10000000 //changes the speed
        });
    });
       
    </script>

</body>

</html>
